<form method="">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>FirstName</label>
            <input value="{{FirstName}}" name="FirstName" type="text" class="form-control" placeholder="FirstName" readonly>
        </div>
        <div class="form-group col-md-6">
            <label>LastName</label>
            <input value="{{LastName}}" name="LastName" type="text" class="form-control" placeholder="LastName" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Date of Birth</label>
            <input value="{{DoB}}" name="DoB" type="date" class="form-control" readonly>
        </div>
        <div class="form-group col-md-6">
            <label>Phone</label>
            <input value="{{Phone}}" name="Phone" type="numbers" class="form-control" placeholder="PhoneNumber" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>UserName</label>
            <input value="{{UserName}}" name="UserName" type="text" class="form-control" placeholder="UserName" readonly>
        </div>
        <div class="form-group col-md-6">
            <label>Password</label>
            <input name="Password" type="password" class="form-control" placeholder="Password" readonly>
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input value="{{Email}}" name="Email" type="email" class="form-control" placeholder="Email" readonly>
    </div>
    <div class="form-group">
        <label>Address </label>
        <input value="{{Address}}" name="Address" type="text" class="form-control" placeholder="Address" readonly>
    </div>


    <button type="submit" class="btn btn-primary">Done</button>
</form>